.searchResult {
  display: grid;
  color: red;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
}
@media (max-width: 992px) {
  .searchResult {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    color: green;
  }
}
@media (max-width: 768px) {
  .searchResult {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    color: green;
  }
}
@media (max-width: 576px) {
  .searchResult {
    display: grid;
    grid-template-columns: repeat(1, minmax(auto, 1fr));
    color: green;
  }
}
